---
import BaseLayout from '@layouts/BaseLayout.astro';
import ContactCard from '@components/profiles/ContactCard';
import CircleCard from '@components/common/CircleCard';
import style from '@src/pages/fuksis/fuksis.module.scss';
import Links from '@components/fuksis/Links_eng.astro';
import boardStyle from '@components/profiles/Board.module.scss';
import ccStyle from '@components/common/CircleCard.module.scss';

import heropic from '@src/assets/images/20230502154358-1c055172-xx.jpg';
import fuksicaptain1 from '@src/assets/officials/2026/Jere_Hasu.avif';
import fuksicaptain2 from '@src/assets/officials/2026/NimrodPocsveiler.avif';

const description = 'Hi there, MINT-fuksi! Start by reading this.';

const data1 = {
  title: "MISC (Master's and International Student Captain)",
  name: 'Jere Hasu',
  email: 'misc@as.fi',
  telegram: 'ASMISC',
  picture: fuksicaptain1,
};

const data2 = {
  title: "MISC (Master's and International Student Captain)",
  name: 'Nimród Pocsveiler',
  email: 'misc@as.fi',
  telegram: 'TheDSDictator',
  picture: fuksicaptain2,
};

const styleCard = { '--profile-img-size': '20rem', marginBottom: '5rem' };
---

<BaseLayout
  title="For MINT-fuksis"
  background={heropic}
  heroHeight="tall"
  description={description}
  lang="en"
  slug="/en/fuksis/mint"
>
  <div>
    <br />
    <p>
      Hello new Master's or exchange student (hencefor MINT aka Master's and INTernational)! Congradulation on getting
      accepted. We want to warmly welcome you to the Guild of Automation and Systems Technology! We are Nimród and Jere
      and we are your MISCs for the upcoming year. Our job is to support you in your fuksi year's adventures and help
      you possibly even get the respected teekkari cap. All sorts of useful material will be gathered here throughout
      the summer to help you get started with your studies in Aalto and support you through your whole year. As the
      MISCs, we are the people you can reach out to whenever you are unsure about anything!
    </p>
  </div>

  <div style={styleCard} class={boardStyle.board}>
    <ContactCard data={data1} />
    <ContactCard data={data2} />
  </div>
  <div>
    <p>If you have a question or something is unclear to you feel free contect us :)</p>
  </div>

  <h2 id="1" class="underline">Before the start of your studies</h2>

  <h3 id="Orientaion">Orientation week and VarASlähtö</h3>
  <div>
    <p>
      Orientation week will be organised in the last week of August, 24.-28.8. You should already mark this in your
      calendar!
    </p>
    <p>
      You have a chance to get a head start to the events of the fuksi year on Saturday the 15th of August starting at
      14:00 on Alvari Square (Alvarinaukio), in Otaniemi. In VarASlähtö you can get to know fellow new fuksis, ISOs
      (tutors), and us already before orientation week. More information about VarASlähtö will be shared later on
      Telegram!
    </p>
  </div>

  <h3 id="Telegram">Telegram</h3>
  <div>
    <p>
      Telegram, known as “tg” among friends, is the most used app for communication in Otaniemi. Telegram is also used
      in our guild as an essential tool in giving out very important information to fuksis, and we hope that all
      MINT-fuksis join the Telegram group for <a href="https://t.me/+PtDQOEUKIkFhNTNk">AS MINT Fuksis '26</a> as well the
      group for all international fuksis from the school of electrical engineering <a href="https://t.me/elecInt26"
        >ELEC International 26-27</a
      >. Also follow <a href="https://t.me/MINTannouncements26">AS MINT Annoucements '26</a>. All important information
      that you need to know will be sent to this channel, so that you won’t miss anything!
    </p>
  </div>

  <h3 id="1" class="underline">Checklist before the Autumn</h3>

  <div class={style.cardlist}>
    <CircleCard
      title="Accept your study place (Master's only)"
      link="https://opintopolku.fi/konfo/en/sivu/how-to-accept-an-offer-of-admission-in-joint-application-to-higher-education"
    />
    <CircleCard
      title="Register to be present (Master's only)"
      link="https://www.aalto.fi/en/applications-instructions-and-guidelines/annual-enrolment"
    />
    <CircleCard title="Apply for a student card (AYY members)" link="https://www.frank.fi/en/studentcard/" />
    <div class={ccStyle.badge}>
      Apply for housing through&nbsp;
      <a href="https://hoas.fi/en" target="_blank" rel="noreferrer"> HOAS </a>
      &nbsp;or&nbsp;
      <a href="https://domo.ayy.fi/en" target="_blank" rel="noreferrer"> AYY</a>
    </div>
    <CircleCard title="Apply for a study grant (Master's only)*" link="https://www.kela.fi/opintotuki" />
    <CircleCard title="Get a HSL travel card" link="https://www.hsl.fi/en/tickets-and-fares/hsl-card" />
    <CircleCard title="Read the fuksiguide" link="./fuksiguide-mint" targetSelf />
    <CircleCard title="Join the MINT-fuksis Telegram group" link="./mint#Telegram" targetSelf />
  </div>

  <h2 id="Kilta" class="underline">General information</h2>

  <h3 id="Kilta">Guild and Fuksis</h3>
  <div>
    <p>
      AS guild is a special status association under AYY, uniting students of Automation and Robotics, Information
      Technology as well as Digital Systems and Design bachelor majors, master's students from Control, Robotics and
      Autonomous Systems, Communications Engineering,Signal Processing and Data Science, Speech and Language Technology,
      Communications and Data Science and Space Science and Technology majors as well as exhange students from similar
      majors. The guild also includes students from other programmes who are interested in AS’s activities. AS organises
      many events for its members, advocates for them at the university’s bodies and cooperates with other student
      associations and companies.
    </p>
    <p>
      AS welcomes around 130 MINT-fuksis, whose integration into the guild is taken care of by the guild’s MISCs with
      help from bachelor Fuksicaptains, the ISOboss, DSDeputy and Fuksi aASistants. Together these form the guild’s
      Fuksi Committee, ASPU.
    </p>
    <p>
      ASPU is assisted by a large number of enthusiastic ISOs, whose job it is to support you throughout the whole year
      regarding anything to do with studies or student life. We have placed you in a fuksi group that consists of around
      20 fuksis as well as a few ISOs. You will get to know your fuksi group in VarASlähtö and during the orientation
      week. All of ASPU and every ISO is here for you!
    </p>
  </div>

  <h3 id="haalarit">Overalls</h3>
  <div>
    <p>
      Overalls are an outfit from which a Finnish student can be recognised. Every guild has overalls in their own
      signature colour. Students of AS have purple overalls that have a black sleeve with a white pocket, and an
      arduino-blue pocket on the thigh. You can order your own overalls during the orientation week. You can decorate
      your overalls to your liking, for example by sewing on overall patches. Remember that patches should be sewn on by
      hand!
    </p>
    <p>
      If you notice something wrong with the overalls, please report it immediately. Defects caused by manufacturing
      errors will be repaired. Not all parts, such as the buttons and the zipper, can withstand super heavy use, but
      they are quite easy to fix yourself. You can ask older guild members for tips!
    </p>
  </div>

  <h3 id='lakkitutkinto""'>Cap degree</h3>
  <div>
    <p>
      The tekkari cap is without a doubt the most important emblem of a teekkari, and not just anyone can wear it. You
      can receive your teekkari cap by completing the cap degree, whereupon you will get to put the cap on your head at
      the possible Wappu at exactly midnight.
    </p>
    <p>
      The contents of the cap degree are specified in the fuksi point card, which every fuksi will receive right at the
      beginning of the orientation week. Don’t worry if you can’t make it though – you can also get it later from the
      MISCs.
    </p>
    <p>
      Filling out the point card is a great opportunity to get to know everything that Aalto, AYY, the guilds, and
      Otaniemi in general have to offer. There’s no need to stress about the points, because it’s easy to get enough
      points for the cap degree, and when student life hooks you in, they seem to come from every direction!
    </p>
  </div>

  <h3 id="links">Useful links</h3>

  <Links />
</BaseLayout>
