---
import style from '@src/pages/fuksis/fuksis.module.scss';
---

<div class={style.table}>
  <div class={style.list}>
    <h4 class={style.list__title}>STUDIES</h4>
    <ul>
      <li>
        <a href="https://mycourses.aalto.fi/?lang=en" target="_blank" rel="noreferrer"> MyCourses </a>{' '}
        (Here you can find information about courses)
      </li>
      <li>
        <a href="https://sisu.aalto.fi/student/" target="_blank" rel="noreferrer"> Sisu </a>{' '}
        (Registration for courses, midterms and exams takes place here)
      </li>
      <li>
        <a href="https://www.aalto.fi/en/school-of-electrical-engineering" target="_blank" rel="noreferrer">
          School of Electrical Engineering
        </a>
      </li>
      <li>
        <a href="https://aalto.fi/en" target="_blank" rel="noreferrer"> Aalto University </a>
      </li>
      <li>
        <a href="https://www.aalto.fi/en/student-guide" target="_blank" rel="noreferrer"> Student guide </a>{' '}
        (Information and instructions about studies)
      </li>
      <li>
        <a href="https://www.aalto.fi/en/services/aalto-space-mobile-application" target="_blank" rel="noreferrer">
          Aalto Space application
        </a>{' '}
        (Reserve spaces for studying)
      </li>
    </ul>
  </div>
  <div class={style.list}>
    <h4 class={style.list__title}>HEALTH CARE</h4>
    <ul>
      <li>
        <a href="https://www.yths.fi/en/frontpage/" target="_blank" rel="noreferrer"> YTHS </a>
      </li>
      <li>Otaniemi: Otakaari 12</li>
      <li>Töölö: Töölönkatu 37 a</li>
    </ul>
  </div>
  <div class={style.list}>
    <h4 class={style.list__title}>TRANSPORT</h4>
    <ul>
      <li>
        <a href="https://www.hsl.fi/en" target="_blank" rel="noreferrer"> HELSIKI REGION TRANSPORT </a>
      </li>
      <li>
        <a href="https://www.hsl.fi/en/tickets-and-fares/hsl-card" target="_blank" rel="noreferrer"> Travel card </a>
      </li>
      <li>
        <a href="https://www.hsl.fi/en/tickets-and-fares/hsl-app" target="_blank" rel="noreferrer"> HSL application </a>
      </li>
    </ul>
  </div>
  <div class={style.list}>
    <h4 class={style.list__title}>EATING</h4>
    <ul>
      <li>
        <a href="https://kanttiinit.fi/" target="_blank" rel="noreferrer"> Canteens </a>{' '}
        (student cafeteria menus)
      </li>
    </ul>
  </div>
  <div class={style.list}>
    <h4 class={style.list__title}>HOUSING</h4>
    <ul>
      <li>
        <a href="https://ayyasunnot.fi/en/" target="_blank" rel="noreferrer"> AYY housing info </a>
      </li>
      <li>
        <a href="https://domo.ayy.fi/en" target="_blank" rel="noreferrer"> Domo housing service (AYY) </a>
      </li>
      <li>
        <a href="https://hoas.fi/en" target="_blank" rel="noreferrer"> HOAS </a>
      </li>
    </ul>
  </div>
  <div class={style.list}>
    <h4 class={style.list__title}>COMMUNITY</h4>
    <ul>
      <li>
        <a href="https://www.ayy.fi/en/list-of-associations" target="_blank" rel="noreferrer">Associations under AYY</a>
      </li>
      <li>
        <a href="https://t.me/AYYevents" target="_blank" rel="noreferrer">Events organized by AYY</a>
      </li>
      <li>
        <a href="https://t.me/otaniemievents" target="_blank" rel="noreferrer"
          >Events organized by associations and student associations</a
        >
      </li>
    </ul>
  </div>
</div>
